<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
  {{>navbar}}
    
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="css/logo3.png" alt="" class="img-fluid" title="Hello">
                    </figure>
                    <p>Welcome to  Technical  world </p>
                    <h1>{{errormsg}}</h1>
                    <a href="/" target="_kishan"><button>Go Back</button></a>
                    
                </div>
                   
                   
                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
   {{>footer}}
</body>
</html>